/* Đảm bảo mũi tên nằm chính giữa */
.WheelComponent {
  position: relative;
}

.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #000; /* Đổi màu nền tùy ý */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
